<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title> Global Covid-19 information </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar (ionInput)="filterData($event)" color="light"></ion-searchbar>

  <ion-card *ngFor="let status of stats" color="dark">
    <h3>{{ status.country }}</h3>

    <h6>
      Active:{{status.active}}<br />
      Cases:{{status.cases}}<br />
      Total tests conducted: {{status.totalTests}} <br />
      Deaths:{{status.deaths}}<br />
      Critical:{{status.critical}}<br />
      Recovered:{{status.recovered}} <br />
    </h6>
  </ion-card>
</ion-content>
