<ion-content>
  <ion-fab (click)="goHome()" vertical="bottom" horizontal="end" slot="fixed"  >
    <ion-fab-button >
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <h2 style="padding: 5px; color: white;"> 5 Safe Methods of Disinfecting Your Home</h2><br>
  <iframe style="padding: 20px;" width="360" height="290"  src="https://www.youtube.com/embed/JnVDUMBKCSw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 
<b style="--background: lightblue; color: white;">  <p > <span>1.</span>  Soft surfaces such as carpet, rugs, and drapes:</p> </b>

    <ion-list style="color: white;">
      <ion-item style="color: white;" >
        <ion-label> Clean the surface using a product containing <br> soap, detergent, or other type of cleaner <br> appropriate for use on these surfaces.</ion-label>
      </ion-item >
      <ion-item style="color: white;">
        <ion-label>Launder items (if possible) according to the <br> manufacturer’s instructions. Use the warmest <br> appropriate water setting and dry items <br> completely.</ion-label>
      </ion-item>
      <ion-item style="color: white;">
        <ion-label>If you need to disinfect, use a product from <br> EPA List N  approved for use on soft surfaces.</ion-label>
      </ion-item>
      <ion-item style="color: white;">
        <ion-label>Vacuum as usual.</ion-label>
      </ion-item><br>

      <strong> <p style="padding: 5px; color: white;"> <span>2.</span>  Laundry such as clothing, towels, and linens:</p> </strong>

      <ion-item style="color: white;">
        <ion-label>Use the warmest appropriate water setting <br> and dry items completely.</ion-label>
      </ion-item>
      <ion-item style="color: white;">
        <ion-label>It is safe to wash dirty laundry from a person <br> who is sick with other people’s items.</ion-label>
      </ion-item>
      <ion-item style="color: white;">
        <ion-label>If handling dirty laundry from a person who <br> is sick, wear gloves and a mask.</ion-label>
      </ion-item>
      <ion-item style="color: white;">
        <ion-label>Clean clothes hampers or laundry baskets <br> according to guidance for surfaces.</ion-label>
      </ion-item>
      <ion-item style="color: white;">
        <ion-label>Dry hands thoroughly with a single-use towel</ion-label>
      </ion-item>
      <ion-item style="color: white;">
        <ion-label>Wash hands after handling dirty laundry.</ion-label>
      </ion-item>

      
      <strong> <p style="padding: 5px; color: white;"> <span>3.</span> Electronics such as tablets, touch screens, keyboards, remote controls, and ATM machines:</p> </strong>

      <ion-item style="color: white;">
        <ion-label>Consider putting a wipeable cover on <br> electronics, which makes cleaning and <br> disinfecting easier.</ion-label>
      </ion-item>
      <ion-item style="color: white;">
        <ion-label>Follow the manufacturer’s instructions <br> and recommendations for cleaning the <br> electronic device.</ion-label>
      </ion-item>

    </ion-list>


</ion-content>
