<ion-header [translucent]="true" >
  <ion-toolbar color="dark" >
    <ion-title style="text-align: center;"> Covid-19 information </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-1">
    <ion-card-header>
      <div>
        <h3 style="color: white">Covid-19</h3>
      </div>
    </ion-card-header>
    <div>
      <p style="color: white; margin: 15px;">
        if you are feeling sick of any symptoms of the covid-19 <br />
        Please call of SMS for your and society betterment
      </p>
    </div>

    <div
      style="display: flex; justify-content: space-around; margin-bottom: 30px"
    >
      <div>
        <button
          (click)="call()"
          style="border-radius: 25px; width: 90px; height: 30px"
        >
          <ion-icon name="call-outline" slot="start"></ion-icon>
          Call
        </button>
      </div>

      <div>
        <button
          (click)="message()"
          style="border-radius: 25px; width: 90px; height: 30px"
        >
          <ion-icon name="document-text-outline"></ion-icon>Message
        </button>
      </div>
    </div>
  </ion-card>

  <ion-card class="card-2" style="margin-bottom: 40px">
    <ion-card-header>
      <h3 style="color: white">Prevention</h3>
    </ion-card-header>
    <div
      style="display: flex; justify-content: space-around; margin-bottom: 30px"
    >
      <div (click)="washHands()" class="ion2" style="text-align: center">
        <img 
          src="../../assets/washing-hands.svg"
          style="height: 40px; width: 40px"
        /><br />
        <p style="color: white">
          wash your <br />
          hands
        </p>
      </div>

      <div (click)="disinfect()" class="ion2" style="text-align: center">
        <img
          src="../../assets/cleaning-spray.svg"
          style="height: 40px; width: 40px"
        /><br />
        <p style="color: white">
          Disinfect <br />
          Surface
        </p>
      </div>

      <div class="ion2" style="text-align: center">
        <img
          src="../../assets/stay-home.png"
          style="height: 40px; width: 40px"
        /><br />
        <p style="color: white">
          Stay <br />
          Home
        </p>
      </div>

      <div class="ion2" style="text-align: center">
        <img
          src="../../assets/social-distancing.svg"
          style="height: 40px; width: 40px"
        /><br />
        <p style="color: white">
          Non <br />
          Contact
        </p>
      </div>
    </div>

    <ion-card
      class="test"
      style="
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
        margin-top: 30px;
      "
    >
      <div>
        <img
          style="height: 70px; width: 70px"
          src="../../assets/epidemic-prevention.svg"
        />
      </div>
      <div>
        <p style="color: white;">Do your own quiz</p>
        <button
          style="background-color: white; border-radius: 15px"
          type="button"
          [routerLink]="['/quiz']"
        >
          Take quiz now
        </button>
      </div>
    </ion-card>
  </ion-card>
</ion-content>
