ion-content{
    --ion-background-color: rgb(48, 45, 45);
}

.card-1{
    background-image: url('../../assets/info-bg3.jpg');
    background-size: 100%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}


.test{
    background-image: url('../../assets/info-bg2.jpg');
    background-size: 100%;
    background-repeat: no-repeat!important;
    background-size: cover!important;

}