<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title> Covid-19 information </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-card  class="card-1">
    
     <ion-card-header>
    <div> 
      <h3>Covid-19</h3>
    </div >
</ion-card-header>
    <div>
      <p>if you are feeling sick of any symptoms of the covid-19 <br>
         Please call of SMS for your and society betterment</p>
    </div>

 <div  style="display:flex; justify-content:space-around; margin-bottom: 30px;">

   <div>
     <button (click)="call()" style="border-radius: 25px; width: 90px; height: 30px;"><ion-icon name="call-outline" slot="start"></ion-icon>Call</button>
   </div>

   <div>
    <button (click)="message()" style="border-radius: 25px; width: 90px; height: 30px;"><ion-icon name="document-text-outline"></ion-icon>Message</button>
   </div>

 </div >
  </ion-card>

  <ion-card class="card-2" style="margin-bottom: 40px;">
<ion-card-header>
  <h3>Prevention</h3> 
</ion-card-header>
<div style="display: flex; justify-content: space-around; margin-bottom: 30px;">

  <div class="ion2" style="text-align: center;">
    <img src="../../assets/washing-hands.svg" style="height: 40px; width: 40px;"><br>
    wash your <br> hands
  </div>

  <div class="ion2" style="text-align: center;">
    <img src="../../assets/cleaning-spray.svg" style="height: 40px; width: 40px;"><br>
    Disinfect <br> Surface
  </div>

  <div class="ion2" style="text-align: center;">
    <img src="../../assets/stay-home.png" style="height: 40px; width: 40px;"><br>
    Stay <br> Home
  </div>

  <div class="ion2" style="text-align: center; ">
    <img src="../../assets/social-distancing.svg" style="height: 40px; width: 40px;"><br>
    Non <br> Contact
  </div>
</div>

<ion-card class="test" style="display: flex; justify-content: space-around; margin-bottom: 30px; margin-top: 30px;">
  <div>
    <img style="height: 70px; width: 70px;" src="../../assets/epidemic-prevention.svg">
  </div>
  <div>
   <p>Do your own quiz</p> 
   <button style="background-color: indigo; border-radius: 15px;" type="button">
    Take quiz now
  </button>
  </div>
  
</ion-card>


  </ion-card>
</ion-content>
